body {
  width              : 500px;
  margin             : auto;
  -webkit-transition : padding .5s;
  -moz-transition    : padding .5s;
  transition         : padding .5s;

}
body.notes-visible {
  padding-right : 300px;
}
body.notes-visible #notes {
  transform : translateX(0);
}

.delete-mark:hover {
  cursor           : pointer;
  background-color : red !important;
}


#notes {
  position : fixed;
  right    : 0;
  top      : 0;
  bottom   : 0;
  width    : 300px;
  transform: translateX(300px);
  background-color: #ccc;
  padding-top: 30px;
  padding-bottom: 30px;

  height: 100%;
  max-height: 100%;
  overflow-y: auto;

  -webkit-transition : transform .5s;
  -moz-transition    : transform .5s;
  transition         : transform .5s;
}

.mark {
  width  : 90%;
  margin : auto;
  border : 1px solid #000;
  padding: 10px;
}

.mark input {
 width: 90%;
 margin: auto;
 display: block;
 margin-top: 10px;
}

.mark textarea {
 height     : 200px;
 overflow-y : auto;
 margin     : auto;
 width      : 90%;
 display    : block;
}

.mark .tags > span {
  display          : inline-block;
  padding          : 5px;
  border           : 1px solid #555;
  background-color : #FFF;
  margin           : 5px;
}
